Repository asyncapi/generator, changes with the owners that CODEOWNERS names for each.
All owners: @derberg, @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve, @Adi-204, @Florence-Njeri

CODEOWNERS:

# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# The default owners are automatically added as reviewers when you open a pull request unless different owners are specified in the file.

# Core Maintainers
* @derberg @magicmatatjahu @jonaslagoni @asyncapi-bot-eve

# Packages directory
# @Adi-204 is Templates Champion
packages/ @Adi-204 @derberg @magicmatatjahu @asyncapi-bot-eve

# All .md files
# @Florence-Njeri is Docs Champion
*.md @Florence-Njeri @derberg @asyncapi-bot-eve

# Changeset markdown files â€” override so Docs Champions aren't requested
.changeset/**/*.md @derberg @magicmatatjahu @asyncapi-bot-eve

Update generator-components dependency version
  apps/generator/test/test-templates/react-template/package.json
Owners: @derberg, @magicmatatjahu, @jonaslagoni, @asyncapi-bot-eve

Delete packages/templates/clients/websocket/java/quarkus/CHANGELOG.md
  packages/templates/clients/websocket/java/quarkus/CHANGELOG.md
Owners: @Florence-Njeri, @derberg, @asyncapi-bot-eve

Set package as private in package.json
  packages/templates/clients/websocket/java/quarkus/package.json
Owners: @Adi-204, @derberg, @magicmatatjahu, @asyncapi-bot-eve

Update package.json
  packages/templates/clients/websocket/test/integration-test/package.json
Owners: @Adi-204, @derberg, @magicmatatjahu, @asyncapi-bot-eve

Delete packages/templates/clients/websocket/test/integration-test/CHANGELOG.md
  packages/templates/clients/websocket/test/integration-test/CHANGELOG.md
Owners: @Florence-Njeri, @derberg, @asyncapi-bot-eve
